/* 轮播示例 */
.img1 {
    width: 100%;
    height: 100%;
}
.btn-detail {
    position: absolute;
    top: 10px;
    left: 100px;
}

/* 导航条示例 */
.navbar-example {
    background-color: #1f90d8;
}

/* 表单示例 */
.form-avatar-box {
    position: relative;
}

/* 二维码 */
.qrcode-demo {
    display: none;
}
.qrcode,
.qrcode-demo img {
    width: 100px;
    height: 100px;
}
