/* base.css */

/* 布局 */
.mycontainer {
    padding: 50px 30px;
    margin-right: auto;
    margin-left: auto;
    background: #f8f8f8;
}

/* 拓展 Bootstrap */
.form-img {
    width: 100px;
    height: 100px;
    border: 1px solid #adadad;
}

